<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PatientTracking2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<display-name>DoctorUpload</display-name>
    <servlet-name>DoctorUpload</servlet-name>
  	 <servlet-class>com.mit2.patient.impl.AddDoctor</servlet-class>	
  </servlet>
  <servlet-mapping>
  <servlet-name>DoctorUpload</servlet-name>
  <url-pattern>/doctor</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>PatientUpload</display-name>
    <servlet-name>PatientUpload</servlet-name>
  	 <servlet-class>com.mit2.patient.impl.AddPatient</servlet-class>	
  </servlet>
  <servlet-mapping>
  <servlet-name>PatientUpload</servlet-name>
  <url-pattern>/patient</url-pattern>
  </servlet-mapping>
  
</web-app>